*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}
/* nav */
.nav-container{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.navbar{
    /* border: 2px solid green; */
    width: 90%;
    margin: auto;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navright{
    width: 100%;
    padding: 10px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}

.navright div:nth-child(3){
     display: flex;
}

.navright div:nth-child(4){
    display: flex;
}
.navright div:nth-child(5){
    display: flex;
}
.nav{
    width: 15%;
}
.nav>img{
    width: 100%;
}
.navright div>p{
  margin-left: 10px;
}
.navright div>span{
    margin-left: 7px;
}

.navright div:nth-child(2){
  width: 30%;
 /* border: 2px solid red; */
}
#search{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    text-decoration: none;
    border: 0.8px solid gray;
    font-size: 16px;
}
.fa-magnifying-glass{
position: absolute;
top: 35px;
left: 55%;
}

#cat{
    margin-left: 110px;
}
#loc{
    margin-right: 65px;
}
/* mid */
.mid{
    width: 90%;
    margin: auto;
}
.mid>div{
  margin-top: 30px;
}
.mid>div>h2{
    font-family: sans-serif;
    line-height: 40px;
}
.mid>div>p{
    color: gray;
    font-family: sans-serif;
}
.food-item{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.food-item>div{
   width: 9%;
}
.food-item>div>img{
    width: 100%;
}
.food-item>div>p{
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
}
.sec-food-item{
    width: 100%;
    display: flex;
    margin: auto;
    margin-top: 20px;
    justify-content: space-evenly;
}
.sec-food-item>div{
    width: 9%;
 }
 .sec-food-item>div>img{
     width: 100%;
 }
 .sec-food-item>div>p{
     text-align: center;
     font-family: sans-serif;
     font-size: 18px;
 }

 .flat-image{
    width: 90%;
    margin: auto;
    padding: 22px;
   border-radius: 10px;
 }
 .flat-image>img{
    width: 100%;
    border-radius: 10px;
 }

 .iftar{
    width: 87%;
    margin: auto;
   

 }
 .he{
    width: 87%;
    margin: auto;
    margin-bottom: 18px;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
.he>p{
    width: 8%;
    font-family: sans-serif;
    cursor: pointer;
    font-size: 14px;
    border: 2px solid #C2185B;
    border-radius: 6px;
    padding: 8px;
    font-weight: 550;
}
.he>p:hover{
    background-color: #D50000;
 }

 .iftar>div{
    
   border-radius: 12px;
 }
 .iftar>div>img{
    width: 100%;
    border-radius: 10px;
 }
 .iftar>div>h3{
    margin: 10px 10px 10px 0px;
    font-family: sans-serif;
   font-size: 17px;
 }
 .iftar>div>p{
    color: #607D8B;
    font-family: sans-serif;
 }
 .time{
    color: black;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 /* .btn{
    position: absolute;
    left: 22%;
    top: 169.5%;
    padding: 6px 15px 6px 16px;
    font-size: 22px;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: #D32F2F;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
 } */
 .card-list{
    width: 100%;
   display: grid;
   grid-template-columns: repeat(4,1fr);
   gap: 10px 17px;
 }

 .box{
    width: 98%;
     
 }
 .box>img{
    width: 100%;
    border-radius: 12px;
 }
 .box>h3{
  margin-top: -15px;  
  margin-bottom: 14px;
  font-weight: 550;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 h4{
    color: #4CAF50;
    font-size: 20px;
    
 }
 .box>p{
    margin: 10px 0px 10px 0px;
    font-family: sans-serif;

    color: #607D8B;
    font-size: 14px;
 }
 .btn{
    position: relative;
   top: -9%;
   left: 91%;
   padding: 5px 14px 5px 14px ;
   font-size: 24px;
   background-color: white;
   color: #C2185B;
   border-radius: 7px;
   border:none;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
 }

 .best{
     width: 80%;
    margin: 28px 0px 20px 85px;
    /*       t    r    b    l  */
    font-family: sans-serif;
    display: inline;
 }
 #para{
    display: inline;
 }
 .side-view{
    display: flex;
 }
 .view-div{
   width: 7%;
    margin-top: 25px;
    margin-left: 10px;
 }
 .view-btn{
    width: 100%;
   font-family: sans-serif;
   cursor: pointer;
   font-size: 14px;
   border: 2px solid #C2185B;
   border-radius: 6px;
   padding: 8px;
   font-weight: 550;
  
 }
 .view-btn:hover{
    background-color: #D50000;
 }
 .read{
    width: 20%;
    margin: 20px 0px 25px 80px;
    font-family: sans-serif;
 }
.poster{
    width: 75%;
    margin-left: 66px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.poster>div{
    width: 90%;
    margin: auto;
    border-radius: 12px;
}
.poster>div>img{
    width: 100%;
    border-radius: 12px;
}
/* combo */
.combo{
    width: 20%;
    margin: 20px 0px 25px 80px;
    font-family: sans-serif;
 }
 /* top rated */
 .top{
    width: 20%;
    margin: 20px 0px 25px 80px;
    font-family: sans-serif;
 }