*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}
/* nav */
.nav-container{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: fixed; 
    top: 0px;
    z-index: 2;
    background-color: white; 
   
}
.navbar{
    /* border: 2px solid green; */
    width: 90%;
    margin: auto;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navright{
    width: 100%;
    padding: 10px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}

.navright div:nth-child(3){
     display: flex;
}

.navright div:nth-child(4){
    display: flex;
}
.navright div:nth-child(5){
    display: flex;
}
.nav{
    width: 15%;
}
.nav>img{
    width: 100%;
}
.navright div>p{
  margin-left: 10px;
}
.navright div>span{
    margin-left: 7px;
}

.navright div:nth-child(2){
  width: 30%;
 /* border: 2px solid red; */
}
#search{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    text-decoration: none;
    border: 0.8px solid gray;
    font-size: 16px;
}
.fa-magnifying-glass{
position: absolute;
top: 35px;
left: 55%;
}

#cat{
    margin-left: 110px;
}
#loc{
    margin-right: 65px;
}
/* mid */
.mid{
    width: 87%;
    margin: auto;
    margin-top: 110px;
}
.mid>div{
  margin-top: 30px;
}
.mid>div>h2{
    font-family: sans-serif;
    line-height: 40px;
    font-size: 22px;
}
.mid>div>p{
    color: gray;
    font-family: sans-serif;
}
.food-item{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.food-item>div{
   width: 9%;
}
.food-item>div>img{
    width: 100%;
}
.food-item>div>p{
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
}
.sec-food-item{
    width: 100%;
    display: flex;
    margin: auto;
    margin-top: 20px;
    justify-content: space-evenly;
}
.sec-food-item>div{
    width: 9%;
 }
 .sec-food-item>div>img{
     width: 100%;
 }
 .sec-food-item>div>p{
     text-align: center;
     font-family: sans-serif;
     font-size: 18px;
 }

 .flat-image{
    width: 90%;
    margin: auto;
    padding: 22px;
   border-radius: 10px;
 }
 .flat-image>img{
    width: 100%;
    border-radius: 10px;
 }

 .iftar{
    width: 87%;
    margin: auto;
   

 }
 .he{
    width: 87%;
    margin: auto;
    margin-bottom: 18px;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
.he>a{
    width: 6%;
    font-family: sans-serif;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    border: 1px solid #C2185B;
    border-radius: 6px;
    padding: 3px;
    text-align: center;
    font-weight: 550;
}
.he>a:hover{
    background-color: #D50000;
 }

 .iftar>div{
    
   border-radius: 12px;
 }
 .iftar>div>img{
    width: 100%;
    border-radius: 10px;
 }
 .iftar>div>h3{
    margin: 10px 10px 10px 0px;
    font-family: sans-serif;
   font-size: 17px;
 }
 .iftar>div>p{
    color: #607D8B;
    font-family: sans-serif;
 }
 .time{
    color: black;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 /* .btn{
    position: absolute;
    left: 22%;
    top: 169.5%;
    padding: 6px 15px 6px 16px;
    font-size: 22px;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: #D32F2F;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
 } */
 .card-list{
    width: 100%;
   display: grid;
   grid-template-columns: repeat(4,1fr);
   gap: 10px 17px;
 }

 .box{
    width: 98%;
     
 }
 .box>img{
    width: 100%;
    border-radius: 12px;
 }
 .box>h3{
  margin-top: -15px;  
  margin-bottom: 14px;
  font-weight: 550;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 .price{
    color: #4CAF50;
    font-size: 20px;
    
 }
 .box>p{
    margin: 10px 0px 10px 0px;
    font-family: sans-serif;

    color: #607D8B;
    font-size: 14px;
 }
 .btn{
  position: relative;
 
   top: -9%;
   left: 91%;
   padding: 5px 14px 5px 14px ;
   font-size: 24px;
   background-color: white;
   color: #C2185B;
   border-radius: 7px;
   border:none;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
 }

 .best{
     width: 80%;
    margin: 28px 0px 20px 85px;
    /*       t    r    b    l  */
    font-family: sans-serif;
    display: inline;
 }
 #para{
    display: inline;
 }
 .side-view{
    display: flex;
 }
 .view-div{
   width: 7%;
    margin-top: 25px;
    margin-left: 10px;
 }
 .view-btn{
    width: 100%;
   font-family: sans-serif;
   cursor: pointer;
   font-size: 14px;
   border: 2px solid #C2185B;
   border-radius: 6px;
   padding: 8px;
   font-weight: 550;
  
 }
 .view-btn:hover{
    background-color: #D50000;
 }
 .read{
    width: 20%;
    margin: 20px 0px 25px 80px;
    font-family: sans-serif;
 }
.poster{
    width: 75%;
    margin-left: 66px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.poster>div{
    width: 90%;
    margin: auto;
    border-radius: 12px;
}
.poster>div>img{
    width: 100%;
    border-radius: 12px;
}
/* combo */
.combo{
    width: 20%;
    margin: 20px 0px 25px 80px;
    font-family: sans-serif;
 }
 /* top rated */
 .top{
    width: 20%;
    margin: 20px 0px 25px 80px;
    font-family: sans-serif;
 }
 .lower{
    width: 20%;
    margin: 20px 0px 25px 80px;
    font-family: sans-serif;
 }
 
 .footer{
    width: 100%;
    background-color: #fdf3f6;
   
 }
 .footer-text{
    width: 92%;
    margin: auto;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 .footer-text>div{
    width: 35%;
    padding: 20px;
 }
 .footer-text>div>h4{
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 14px;
 }
 .footer-text>div>p{
    font-size: 14px;
    color: #607D8B;
    line-height: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 .line{
    margin-bottom: 14px;
    height: 4px;
    width: 40px;
    background-color: #d11243;
    border-radius: 2px;
 }
 .bottom-footer{
    width: 90%;
    display: flex;
    margin: auto;
 }
 .bottom-footer>div:nth-child(1){
    width: 11%;
 }
 .bottom-footer>div>img{
    width: 100%;
 }
 .gray{
    width: 80%;
    margin-top: 28px;
 }

 .gray-line{
    margin-bottom: 14px;
    height: 1px;
    width: 100%;
    background-color: #CFD8DC;
    border-radius: 2px;
 }
 .bot-social{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
 }
 .bot-social>div:nth-child(1){
    width: 30%;
 }
 .bot-social>div>h3,img,p{
    margin-top: 10px;
    line-height: 30px;
 }
 .bot-social>div:nth-child(4)>img{
   margin: 20px 0px 20px 0px;
   width: 55%;
 }

 .cities{
    width: 100%;
    background-color: #FAFAFA;
   height: 250px;
 }
 .cities>div:nth-child(1){
    width: 90%;
    margin-left: 40px;
    padding: 30px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 500;
 }
 .cities>div>h3{
    font-weight: 550;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
 }
 .city-name{
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    gap: 15px;

 }
.city-name>div{
    width: 100%;
    background-color: white;
    border: none;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.city-name>div>p{
    text-align: center;
    margin-bottom: 10px;
    font-family: sans-serif;
}
.pop{
  margin: 70px 0px 30px 70px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.popular{
   width: 90%;
   margin: auto;
}
.popular>div{
   width: 100%;
   margin-bottom: 20px;
}
.popular>div>p{
   font-size: 14px;
   line-height: 20px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*  */
.productHeader{
   width: 87%;
    margin: auto;
    color: #708AA5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    margin-top: 50px;
    margin-bottom: 17px;
   }
   .product {
       width: 87%;
       margin: auto;
       position: relative;
       overflow: hidden;
       }
     .product-container {
       display: flex;
       overflow-x: auto;
       scroll-behavior: smooth;
       padding-top: 8px;
       padding-bottom: 8px;
       box-sizing: border-box;
     }
     .product-container::-webkit-scrollbar {
       display: none;
     }
     .product-card{
       width: 520px;
       height: 235px;
       cursor: pointer;
       margin-right: 20px;
      }
      .product-card img{
      width: 429px;
       height: 150px;
      }
     .pre-btn {
       left: 0;
       transform: rotate(180deg);
     }
     .nxt-btn {
       right: 0;
     }
     .product>i{
      border: 2px solid red;
      
     }